extends ./layout/index

block contenido

    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen nosotros" class="img-fluid")

            .col-md-7
                h1= pagina
                blockquote In eleifend auctor tincidunt. Pellentesque sollicitudin velit vel arcu convallis porta. Cras volutpat rhoncus venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi finibus est magna, sit amet cursus libero sollicitudin sit amet. Sed enim orci, congue non leo sit amet, luctus sollicitudin sapien. Morbi dolor felis, lobortis ac ipsum et, venenatis pharetra augue. Duis pellentesque bibendum sollicitudin. In id dolor urna. Fusce efficitur laoreet aliquam. Sed lorem libero, congue eget nunc a, ultrices condimentum sem. Praesent feugiat odio nibh, viverra iaculis neque fermentum in.

                p Quisque eros risus, gravida sed cursus eget, sodales sed nulla. Vivamus in ornare nulla, nec faucibus dui. Aenean porttitor, odio non condimentum rutrum, quam risus convallis mauris, ac interdum ex dolor vel massa. Aenean condimentum euismod nisi, a blandit tellus aliquet ullamcorper. Proin pellentesque sed ligula ac dapibus. Vivamus faucibus massa arcu, eu imperdiet lacus posuere non. Vestibulum non augue sapien. Maecenas ut vehicula dolor. Integer eget mi in odio placerat aliquet. Cras bibendum vel nisl ac sodales. In hac habitasse platea dictumst. Etiam placerat velit sed lacinia bibendum.


                p Nunc eu lorem id lacus malesuada ultricies. Proin nec aliquet sem. Donec non dui sit amet metus congue cursus eu eu magna. Fusce id nulla non nunc malesuada vestibulum vel ac nisl. Nullam justo nisi, tincidunt eu nunc fermentum, mattis pretium erat. Aenean vel molestie eros, eu ornare lacus. Mauris interdum at felis non sollicitudin. Vestibulum non urna sed velit semper posuere.


    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p In eleifend auctor tincidunt. Pellentesque sollicitudin velit vel arcu convallis porta. Cras volutpat rhoncus venenatis.

                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p In eleifend auctor tincidunt. Pellentesque sollicitudin velit vel arcu convallis porta. Cras volutpat rhoncus venenatis.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p In eleifend auctor tincidunt. Pellentesque sollicitudin velit vel arcu convallis porta. Cras volutpat rhoncus venenatis.
                

